n8n-workflows/create-workflow-http.json
{
  "name": "Create Workflow API (HTTP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflows",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-create",
      "name": "Webhook - Create Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "create-workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $env.SUPABASE_PROJECT_ID }}.supabase.co/rest/v1/workflows",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ { \"title\": $json.body.title, \"nodes\": $json.body.nodes, \"edges\": $json.body.edges, \"view_state\": $json.body.viewState } }}",
        "options": {}
      },
      "id": "http-insert",
      "name": "HTTP Request - Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Transform Supabase response to API format\nconst workflow = $input.first().json[0] || $input.first().json;\n\nreturn {\n  json: {\n    workflow: {\n      id: workflow.id,\n      title: workflow.title,\n      nodes: workflow.nodes,\n      edges: workflow.edges,\n      viewState: workflow.view_state,\n      createdAt: workflow.created_at,\n      updatedAt: workflow.updated_at\n    }\n  }\n};"
      },
      "id": "transform",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-create",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Create Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request - Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Insert": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

