n8n-workflows/get-workflow-http.json
{
  "name": "Get Workflow API (HTTP)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "workflows/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook - Get Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "get-workflow"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://{{ $env.SUPABASE_PROJECT_ID }}.supabase.co/rest/v1/workflows?id=eq.{{ $json.params.id }}&select=*",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_ANON_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get",
      "name": "HTTP Request - Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Transform Supabase response to API format\nconst workflows = $input.first().json;\nconst workflow = Array.isArray(workflows) ? workflows[0] : workflows;\n\nif (!workflow || !workflow.id) {\n  return {\n    json: { error: \"Workflow not found\" },\n    statusCode: 404\n  };\n}\n\nreturn {\n  json: {\n    workflow: {\n      id: workflow.id,\n      title: workflow.name || workflow.title, // Map name to title for API\n      nodes: workflow.nodes || [],\n      edges: workflow.edges || [],\n      viewState: workflow.view_state || null,\n      createdAt: workflow.created_at,\n      updatedAt: workflow.updated_at\n    }\n  }\n};"
      },
      "id": "transform",
      "name": "Transform Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "IF - Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook - Get Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request - Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Get": {
      "main": [
        [
          {
            "node": "Transform Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Response": {
      "main": [
        [
          {
            "node": "IF - Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

