n8n-workflows/get-workflow.json
{
  "name": "Get Workflow API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "workflows/:id",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-get",
      "name": "Webhook - Get Workflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "get-workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "table": {
          "__rl": true,
          "value": "workflows",
          "mode": "list"
        },
        "id": "={{ $json.params.id }}",
        "options": {
          "returnFields": "*"
        }
      },
      "id": "supabase-get",
      "name": "Supabase - Get Workflow",
      "type": "@n8n/n8n-nodes-langchain.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "IF - Check Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"workflow\": { \"id\": $json.id, \"title\": $json.title, \"nodes\": $json.nodes, \"edges\": $json.edges, \"viewState\": $json.view_state, \"createdAt\": $json.created_at, \"updatedAt\": $json.updated_at } } }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 404,
        "responseBody": "={{ { \"error\": \"Workflow not found\" } }}",
        "options": {}
      },
      "id": "respond-not-found",
      "name": "Respond Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook - Get Workflow": {
      "main": [
        [
          {
            "node": "Supabase - Get Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Workflow": {
      "main": [
        [
          {
            "node": "IF - Check Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Check Exists": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

